In [1]:
import pandas as pd

In [2]:
fdny=pd.read_csv("C:/Users/Localadmin/Downloads/14.FDNY.csv")

In [3]:
fdny

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [4]:
fdny.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [5]:
fdny.drop(0,inplace=True)

In [6]:
fdny

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [7]:
fdny.describe()

              FacilityName  FacilityAddress   Borough
count                  218              218       218
unique                 218              218         5
top     Engine 4/Ladder 15  42 South Street  Brooklyn
freq                     1                1        66

In [8]:
fdny.columns.tolist()

['FacilityName', 'FacilityAddress', 'Borough']

In [9]:
fdny.index.tolist()

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218]

In [10]:
fdny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 1 to 218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FacilityName     218 non-null    object
 1   FacilityAddress  218 non-null    object
 2   Borough          218 non-null    object
dtypes: object(3)
memory usage: 5.2+ KB

In [11]:
fdny.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

In [18]:
x=fdny[fdny['Borough']=='Bronx']

In [19]:
x

,FacilityName,FacilityAddress,Borough
49,Engine 60/Ladder 17/Battalion 14,341 East 143rd Street,Bronx
50,Squad 41,330 East 150th Street,Bronx
51,Engine 71/Ladder 55/Division 6,720 Melrose Avenue,Bronx
52,Engine 50/Ladder 19,1155 Washington Avenue,Bronx
53,Engine 92/Ladder 44/Battalion 17,1259 Morris Avenue,Bronx
54,EMS Station 17,1080 Ogden Avenue,Bronx
55,Engine 68/Ladder 49,1160 Ogden Avenue,Bronx
56,EMS Station 26,1264 Boston Road,Bronx
57,Engine 73/Ladder 42/Battalion 26,655 Prospect Avenue,Bronx
58,Engine 94/Ladder 48/Battalion 3,1226 Seneca Avenue,Bronx
59,Engine 42,1781 Monroe Avenue,Bronx
60,Engine 43/Ladder 59,1901 Sedgwick Avenue,Bronx
61,Rescue 3,1655 Washington Avenue,Bronx
62,"Engine 46, Ladder 27",460 Cross Bronx Expressway,Bronx
63,"Bronx Borough Command, District Office 6 & 7",451 East 176th Street,Bronx
64,Engine 82/Ladder 31,1213 Intervale Avenue,Bronx
65,Engine 48/Ladder 56/Division 7,2417 Webster Avenue,Bronx
66,Engine 88/Ladder 38,2225 Belmont Avenue,Bronx
67,Engine 45/Ladder 58/Battalion 18,925 East Tremont Avenue,Bronx
68,Engine 75/Ladder 33/Battalion 19,2175 Walton Avenue,Bronx
69,Engine 81/Ladder 46,3025 Bailey Avenue,Bronx
70,Engine 79/Ladder 37/Battalion 27,2928 Briggs Avenue,Bronx
71,Engine 96/Ladder 54,1689 Story Avenue,Bronx
72,Engine 64/Ladder 47/District Office 7,1214 Castle Hill Avenue,Bronx
73,Engine 90/Ladder 41,1843 White Plains Road,Bronx
74,Squad 61/Battalion 20,1518 Williamsbridge Road,Bronx
75,Engine 97,1454 Astor Avenue,Bronx
76,Engine 62/Ladder 32,3431 White Plains Road,Bronx
77,Engine 38/Ladder 51,3446 Eastchester Road,Bronx
78,Engine 63/Ladder 39/Battalion 15,755 East 233rd Street,Bronx
79,Engine 66/Ladder 61,21 Asch Loop West,Bronx
80,Engine 89/Ladder 50,2924 Bruckner Boulevard,Bronx
81,Engine 72,3929 East Tremont Avenue,Bronx
82,Engine 70/Ladder 53,169 Schofield Street,Bronx

In [24]:
fdny1=fdny[fdny['Borough']=='Brooklyn']

In [25]:
fdny1

,FacilityName,FacilityAddress,Borough
83,Engine 207/Ladder 110/Battalion 31/Division 11...,172 Tillary Street,Brooklyn
84,Engine 226,409 State Street,Brooklyn
85,Engine 205/Ladder 118,74 Middagh Street,Brooklyn
86,Engine 224,274 Hicks Street,Brooklyn
87,Engine 279/Ladder 131,252 Lorraine Street,Brooklyn
...,...,...,...
144,Engine 257/Ladder 170,1361 Rockaway Parkway,Brooklyn
145,Engine 323,6405 Avenue N,Brooklyn
146,Engine 309/Ladder 159,1851 East 48th Street,Brooklyn
147,Engine 246/Ladder 169,2732 East 11th Street,Brooklyn
148,Engine 321,2165 Gerritsen Avenue,Brooklyn

In [27]:
fdny2=fdny[fdny['Borough']=='Queens']

In [28]:
fdny2

,FacilityName,FacilityAddress,Borough
149,Engine 258/Ladder 115,10-40 47th Avenue,Queens
150,Engine 325/Ladder 163,41-24 51st Street,Queens
151,Engine 259/Ladder 128/Battalion 45,33-51 Greenpoint Avenue,Queens
152,Engine 260,11-15 37th Avenue,Queens
153,Engine 261/Ladder 116,3720-22 29th Street,Queens
154,Engine 262,30-89 21st Street,Queens
155,Engine 263/Ladder 117/Battalion 49,42-06 Astoria Boulevard,Queens
156,Engine 312,22-63 35th Street,Queens
157,Engine 307/Ladder 154,81-17 North Boulevard,Queens
158,Engine 289/Ladder 138,97-28 43rd Avenue,Queens
159,Engine 316,27-12 Kearney Street,Queens
160,Engine 324/Division 14,108-01 Horace Harding Blvd.,Queens
161,Eng 292/Rescue 4,64-18 Queens Boulevard,Queens
162,Squad 288/Hazmat 1,56-29 68th Street,Queens
163,Engine 287/Ladder 136/Battalion 46,86-53 Grand Avenue,Queens
164,Engine 291/Ladder 140,56-07 Metropolitan Avenue,Queens
165,Engine 305/Ladder 151,111-02 Queens Boulevard,Queens
166,Engine 286/Ladder 135,66-44 Myrtle Avenue,Queens
167,Engine 319,78-11 67th Road,Queens
168,Engine 297/Ladder 130,119-11 14th Road,Queens
169,Engine 295/Ladder 144,12-49 149th Street,Queens
170,Engine 273/Ladder 129,40-18 Union Street,Queens
171,Engine 274/Battalion 52,41-20 Murray Street,Queens
172,Engine 320/Ladder 167,36-18 Francis Lewis Boulevard,Queens
173,Engine 306/Battalion 53,40-18 214th Place,Queens
174,Engine 315/Ladder 125,159-06 Union Turnpike,Queens
175,Engine 299/Ladder 152,61-20 Utopia Parkway,Queens
176,Engine 326/Ladder 160,64-04 Springfield Boulevard,Queens
177,Engine 313/Ladder 164,44-01 244th Street,Queens
178,Engine 251,254-20 Union Turnpike,Queens
179,Engine 293,89-40 87th Street,Queens
180,Engine 285/Ladder 142,103-17 98th Street,Queens
181,Ladder 143,101-02 Jamaica Avenue,Queens
182,Squad 270/Division 13,91-45 121st Street,Queens
183,Engine 308/Battalion 51,107-12 Lefferts Boulevard,Queens
184,Engine 298/Ladder 127/Battalion 50,153-11 Hillside Avenue,Queens
185,Engine 303/Ladder 126,104-12 Princeton Street,Queens
186,Engine 275,111-36 Merrick Boulevard,Queens
187,Engine 301/Ladder 150,91-04 197th Street,Queens
188,Engine 304/Ladder 162,218-44 97th Avenue,Queens
189,Engine 302/Ladder 155,143-15 Rockaway Boulevard,Queens
190,Engine 317/Ladder 165/Battalion 54,117-11 196th Street,Queens
191,Engine 311/Ladder 158,145-50 Springfield Boulevard,Queens
192,Engine 314,142-04 Brookville Boulevard,Queens
193,Engine 331/Ladder 173,158-57 Cross Bay Boulevard,Queens
194,Engine 264/Engine 328/Ladder 134,16-15 Central Avenue,Queens
195,Engine 265/Ladder 121/Battalion 47 EMS Station 47,48-06 Rockaway Beach Boulevard,Queens
196,Engine 266/Battalion 47,92-20 Rockaway Beach Boulevard,Queens
197,Engine 268/Ladder 137,257 Beach 116th Street,Queens
198,Engine 329,402 Beach 169th Street,Queens

In [29]:
fdny3=fdny[fdny['Borough']=='Staten Island']

In [30]:
fdny3

,FacilityName,FacilityAddress,Borough
199,Marine 9,Saint George Ferry Terminal,Staten Island
200,Engine 155/Ladder 78,14 Brighton Avenue,Staten Island
201,Ladder 79/Battalion 22,1189 Castleton Avenue,Staten Island
202,Engine 156,412 Broadway,Staten Island
203,Engine 163/Ladder 83,875 Jewett Avenue,Staten Island
204,Engine 153/Ladder 77,74 Broad Street,Staten Island
205,Engine 165/Ladder 85,3067 Richmond Road,Staten Island
206,Engine 157/Ladder 80,1573 Castleton Avenue,Staten Island
207,Engine 158,65 Harbor Road,Staten Island
208,Engine 166/Ladder 86,1400 Richmond Avenue,Staten Island
209,Engine 154/District Office 8/ Staten Island Bo...,3730 Victory Boulevard,Staten Island
210,Engine 152/Battalion 21,256 Hylan Boulevard,Staten Island
211,Engine 161/Ladder 81,278 Mc Clean Avenue,Staten Island
212,Engine 160/Rescue 5/Division 8,1850 Clove Road,Staten Island
213,Engine 159,1592 Richmond Road,Staten Island
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [31]:
fdny4=fdny[fdny['Borough']=='Manhattan']

In [32]:
fdny4

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
6,Engine 9/Ladder 6,75 Canal Street,Manhattan
7,Engine 15/Ladder 18/Battalion 4,25 Pitt Street,Manhattan
8,Engine 28/Ladder 11,222 East 2nd Street,Manhattan
9,Engine 5,340 East 14th Street,Manhattan
10,Engine 55,363 Broome Street,Manhattan
11,Ladder 20/Division 1,253 Lafayette Street,Manhattan
12,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue,Manhattan
13,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
14,Ladder 3/Battalion 6,108 East 13th Street,Manhattan
15,Squad 18,132 West 10th Street,Manhattan
16,Engine 34/Ladder 21,440 West 38th Street,Manhattan
17,Engine 26,220 West 37th Street,Manhattan
18,Engine 3/Ladder 12/Battalion 7,150 West 19th Street,Manhattan
19,Engine 1/Ladder 24,142-46 West 31st Street,Manhattan
20,Engine 14,14 East 18th Street,Manhattan
21,Engine 16 / Ladder 7,234 East 29th Street,Manhattan
22,Engine 21,238 East 40th Street,Manhattan
23,Engine 54/Ladder 4/Battalion 9,782 8th Avenue,Manhattan
24,Engine 23,215 West 58th Street,Manhattan
25,Rescue 1,530 West 43rd Street,Manhattan
26,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
27,Ladder 25/District Office 4/Division 3,205-207 West 77th Street,Manhattan
28,Engine 74,120 West 83rd Street,Manhattan
29,Engine 65,33 West 43rd Street,Manhattan
30,Engine 8 / Ladder 2 / Battalion 8,167 East 51st Street,Manhattan
31,Engine 39/Ladder 16,157-59 East 67th Street,Manhattan
32,Engine 44,221 East 75th Street,Manhattan
33,Engine 22/Ladder 13/Battalion 10,159 East 85th Street,Manhattan
34,Engine 58/Ladder 26,1367 5th Avenue,Manhattan
35,Engine 53/Ladder 43,1836-46 3rd Avenue,Manhattan
36,Engine 91,242 East 111th Street,Manhattan
37,Engine 35/Ladder 14,2282 3rd Avenue,Manhattan
38,Engine 76/Ladder 22/Battalion 11,145-51 West 100th Street,Manhattan
39,Engine 47,502 West 113th Street,Manhattan
40,Engine 59/Ladder 30,111 West 133rd Street,Manhattan
41,Engine 37/Ladder 40,415 West 125th Street,Manhattan
42,Engine 69/Ladder 28/Battalion 16,248 West 143rd Street,Manhattan
43,Engine 80/Ladder 23,503 West 139th Street,Manhattan
44,Engine 84/Ladder 34,513 West 161st Street,Manhattan
45,Engine 67,518 West 170th Street,Manhattan
46,Engine 93/Ladder 45/Battalion 13,515 West 181st Street,Manhattan
47,Engine 95/Ladder 36,29 Vermilyea Avenue,Manhattan
48,Marine 1,Little West 12th Street/Hudson River,Manhattan